{% extends 'core/base2.html' %}

{% block title %}Payment With Paypal! | {% endblock %}

{% block content %}

    <div class="jumbotron text-center">
        <h1 class="display-3"></h1>
        <hr>

        <div id="paypal-button-container">

        </div>
        <script src="https://www.paypal.com/sdk/js?client-id=AYoam_YecYQZydznsG1pjoa0_ocXMBzQ6gPJXsirScWO-eJErlqq73BSPi1x6pIB62IIXUUlDH2OCghU&currency=EUR&disable-funding=card,sepa,giropay,sofort"></script>
        <script>
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = cookies[i].trim();
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            var csrftoken = getCookie('csrftoken');

            var total = '{{cart.get_total_cost}}'
            var url = "{% url 'cart:success' %}";



            function completeOrder() {
                var url = "{% url 'cart:success' %}"
                fetch(url, {
                    method: 'POST',
                    headers: {
                        'content-type': 'application/json',
                        'X-CSRFToken': csrftoken
                    },
                    body: JSON.stringify({'form': userFormdata})
                })
            }

            // Render the PayPal button into #paypal-button-container
            paypal.Buttons({

                // Set up the transaction
                createOrder: function (data, actions) {
                    return actions.order.create({
                        purchase_units: [{
                            amount: {
                                value: parseFloat(total).toFixed(2)
                            }
                        }]
                    });
                },

                // Finalize the transaction
                onApprove: function (data, actions) {
                    return actions.order.capture().then(function (orderData) {
                        alert('Transaction completed by ' + orderData.payer.name.given_name + '!');

                        // Successful capture! For demo purposes:completeOrder()
                        window.location.replace = 'https://www.example.com';


                        // Replace the above to show a success message within this page, e.g.
                        // const element = document.getElementById('paypal-button-container');
                        // element.innerHTML = '';
                        // element.innerHTML = '<h3>Thank you for your payment!</h3>';
                        // Or go to another URL:  actions.redirect('thank_you.html');
                    });
                }


            }).render('#paypal-button-container');
        </script>


    </div>
{% endblock %}