{% extends 'core/base2.html' %}

{% load static %}
{% load i18n %}
{% block content %}


    <div class="osahan-profile">
        <div class="d-none">
            <div class="bg-primary border-bottom p-3 d-flex align-items-center">
                <a class="toggle togglew toggle-2" href="#"><span></span></a>
                <h4 class="font-weight-bold m-0 text-white">{% translate "Profile" %}</h4>
            </div>
        </div>
        <!-- profile -->
        <div class="container position-relative">
            <div class="py-5 osahan-profile row">

                <div class="">
                    <div class="rounded shadow-sm">
                        <div class="osahan-privacy bg-white rounded shadow-sm p-4">
                            <div id="intro" class="mb-4">
                                <!-- Title -->
                                <div class="mb-3">
                                    <h2 class="h5">{% translate "Welcome to ChefsGrub"%}</h2>
                                </div>
                                <!-- End Title -->
                                <p>{% translate "ChefsGrub is platform that enables solo food hobbyists and cooks to offer their culinary services from their private kitchens, to customers who are looking for hard-to-find dishes from their homeland, want healthier home-cooked food, are eager to try  food from other cultures or want to have their meals planned and delivered for the week."%}
                                </p>
                                <p>{% translate "ChefsGrub is basically a homemade food ordering and homemade food delivery platform. Cooks can register, post their meals and get paid for the meals they sell. Customers can register, order a home-cooked meal, and pay for their order" %}.
</p>
                                <p>{% translate "Customers can either pick up their order, or choose our delivery service" %}.

</p>
                                <p>{% translate "We have a functional web app. Currently, chefs can register, add meals, accept orders and get paid. Customers can browse meals, order and pay. We have 20+ signups. we are looking forward to work with them closely in the first days of Ramadan, which should have a spike in traditional/homemade food demand. We are planning to fulfill orders in Ramadan/by the first of April. We are also currently looking to setup a company and take care of legal status" %}.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        {% endblock %}