{% load tawkto_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>ChefsGrub - Homemade Food Delivery</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <!-- FAVICON -->
    <link rel="shortcut icon" href=" {% static 'images/favicon.html' %} ">

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href=" {% static 'css/bootstrap.min.css' %} ">

    <!-- ICONS -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href=" {% static 'css/ilmosys-icon.css' %} ">
    <link rel="stylesheet" href=" {% static 'js/vendors/swipebox/css/swipebox.min.css' %} ">


    <!-- THEME / PLUGIN CSS -->
    <link rel="stylesheet" href=" {% static 'js/vendors/slick/slick.css' %} ">
    <link rel="stylesheet" href=" {% static 'css/style3.css' %} ">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="home">
<div class="body">
    <!-- HEADER -->
    <header>
        <nav class="navbar-inverse navbar-lg navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand brand"><img src=" {% static 'images/logo.png' %} " alt="logo"></a>
                </div>


                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right navbar-login">
                        <li>
                            <a href=" /browse "><span class="icon-call"></span> Go check it out!</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>


    <!-- Home -->
    <div class="intro intro3">
        <div class="container">
            <div class="row center-content">
                <div class="col-md-5 col-sm-6">
                    <h3>Let ChefsGrub be your personal Chef</h3>
                    <p>Are you tired of unhealthy takeout and frozen pizza? Do you want to eat something nutritious,
                        but also something that tastes good? Don't have time to cook for yourself?</p>
                    <div class="space30"></div>
                    <div class="dual-btn">
                        <a href=" /browse " class="btn btn-lg btn-primary page-scroll">Order Now <span
                                class="fa fa-shopping-basket"></span></a> &nbsp; &nbsp;

                    </div>

                </div>
                <div class="col-md-7 col-sm-6 no-padding">
                </div>
            </div>
        </div>
    </div>

    <!-- Stats -->
    <div id="stats2" class="bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <div class="stats2-info">
                        <i class="icon-piggy"></i>
                        <p><span class="count">120</span>+</p>
                        <h2>Customers in waiting list</h2>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="stats2-info">
                        <i class="icon-photo"></i>
                        <p><span class="count">50</span>+</p>
                        <h2>Chefs</h2>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="stats2-info">
                        <i class="icon-rocket"></i>
                        <p><span class="count">3</span>+</p>
                        <h2>Cities</h2>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="stats2-info">
                        <i class="icon-world"></i>
                        <p><span class="count">8</span>+</p>
                        <h2>Food Categories</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- About Us -->
    <div id="about" class="container">
        <!-- About Section 1 -->
        <div class="intro intro-about2">
            <div class="container">
                <div class="row center-content">
                    <div class="col-md-7 ">
                        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                        <lottie-player
                                src="https://assets6.lottiefiles.com/packages/lf20_rkgoywwu/`lottie_cancel/data.json"
                                background="transparent" speed="1" style="width: 600px; height: 600px;" hover loop
                                autoplay></lottie-player>
                    </div>
                    <div class="col-md-5">
                        <h3>ChefsGrub understands the value of home-cooked food</h3>
                        <p>ChefsGrub is about more than just food delivery. We believe that everyone deserves access to
                            healthy and delicious food, no matter their budget or time constraints. We also believe that
                            we, as a community, have the power to support small businesses and independent chefs who are
                            passionate about cooking every day.</p>

                    </div>
                </div>
            </div>
        </div>

        <!-- About Section 2 -->
        <div class="intro intro-about2">
            <div class="container">
                <div class="row center-content">
                    <div class="col-md-5">
                        <h3>A Personal Chef In Minutes</h3>
                        <p>ChefsGrub brings you the freshest homemade food in your area, right to your doorstep. Need
                            some more reasons to try us?</p>

                        <ul class="list">
                            <li><i class="fa fa-check"></i>Ordering on ChefsGrub is fast, easy and secure.</li>
                            <li><i class="fa fa-check"></i> We offer a wide variety of dishes from different cuisines.
                            </li>
                            <li><i class="fa fa-check"></i> Veggie lover? We got you. Carnivore? It's taken care of</li>
                        </ul>

                        <div class="space30"></div>

                    </div>
                    <div class="col-md-7">
                        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                        <lottie-player
                                src="https://assets8.lottiefiles.com/packages/lf20_qrwely5b.json"
                                background="transparent" speed="1" style="width: 600px; height: 600px;" hover loop
                                autoplay></lottie-player>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="space80"></div>


    <div class="video-action">
        <div class="row text-center">
            <h1>Turn Your Favorite Recipes Into Money: </h1>
            <p>We are looking for great cooks who are tired of their dreary 9-5 job. Do you have a skill in cooking?<br>Excellent!
                Subscribe to our Chefsgrub platform and share your talent by creating awesome dishes. Yummy food
                deserves your warmt</p>
            <br><br>
            <div class="dual-btn">
                <a href=" chef/become-chef/ " class="btn btn-lg btn-primary page-scroll">Join us as a Chef! <span
                ></span></a> &nbsp; &nbsp;

            </div>


        </div>
    </div>


    <div id="explore" class="elements-content">
        <div class="container">
            <div class="about-inline text-center">
                <h3>Explore Our Foods </h3>

            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-product">
                        <div class="img-wrap"><img src=" {% static 'images/foods/2.png' %} " alt="img"></div>
                        <div class="info-wrap">
                            <h4 class="title">Super Bowl</h4>
                            <p class="desc"> Serves: 1 </p>
                            <div class="price-wrap h3">
                                <span class="price-new">5 €</span>
                                <del class="price-old">10 €</del>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-product">
                        <div class="img-wrap"><img src=" {% static 'images/foods/3.png' %} " alt="img"></div>
                        <div class="info-wrap">
                            <h4 class="title">Couscous</h4>
                            <p class="desc"> Serves: 1 </p>
                            <div class="price-wrap h3">
                                <span class="price-new">6 €</span>
                                <del class="price-old">12 €</del>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-product">
                        <div class="img-wrap"><img src=" {% static 'images/foods/1.png' %} " alt="img"></div>
                        <div class="info-wrap">
                            <h4 class="title">Salad</h4>
                            <p class="desc"> Serves: 1 </p>
                            <div class="price-wrap h3">
                                <span class="price-new">4 €</span>
                                <del class="price-old">6 €</del>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="space100"></div>

    <!-- Testimonials -->
    <div id="reviews" class="testimonials-color">
        <div class="container">
            <div class="about-inline text-center">
                <h3>Testimonials </h3>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="quote2">
                        <div>
                            <img src=" {% static 'images/testimonials/chef1.png' %} " alt=""/>
                            <p>"ChefsGrub matches expert home cooks with hungry customers. With just a few taps, you can
                                order an array of gourmet meals, desserts, and snacks. "</p>
                            <span class="author">Simab Dave - Private Chef</span>
                        </div>
                        <div>
                            <img src=" {% static 'images/testimonials/chef2.png' %} " alt=""/>
                            <p>"Chef's Grub is the place to let your palette travel. Homemade food orders and delivery –
                                made simple by ChefsGrub. From multiple cuisines to every type of dish, our menu has all
                                your cravings covered."</p>
                            <span class="author">Johnthan Doe - Private Chef</span>
                        </div>
                        <div>
                            <img src=" {% static 'images/testimonials/chef3.png' %} " alt=""/>
                            <p>"Spare yourself the trouble of cooking and enjoy a prepared dish made by one of our chefs
                                "</p>
                            <span class="author">Maccy Doe - Mom at Home</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="space100"></div>
        </div>
    </div>

    <!-- Faq -->
    <div class="container" id="faq">
        <div class="about-inline text-center">
            <h3>Frequently Asked Questions </h3>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="faq">
                    <h4><span>~ </span>ChefsGrub is a…Is it a web app? Is it a delivery service? Is it an online
                        ordering
                        system?</h4>
                    <p><br> It’s ChefsGrub.We took all the best parts of these things, and combined them into one
                        service.
                        We're building ChefsGrub to make it easier for you to find great eats near you. We're working
                        in-house with the top chefs in cities around the country and are utilizing technology that makes
                        it possible for you to place a lot more than just an order - from viewing a place's menu,
                        selecting your meal preferences, to paying by credit card or cashless payment option.</p>
                </div>
            </div>

            <div class="col-md-6 col-sm-6">
                <div class="faq">
                    <h4><span>~ </span> Are you concerned about the food safety of the homemade food that?</h4>
                    <p>
                        <br>ChefsGrub understands the food safety of the homemade foods that it promotes. We're focused
                        on
                        food safety and packaged our kits with that in mind. We have the proper supplies to mix, store,
                        prepare, chill and serve your homemade food safely and understandably.
                        Chefs are verified for a quality and safe food preparing.</p>
                </div>
            </div>

        </div>
        <div class="space100"></div>
    </div>

    <!-- PARALLAX -->


    <!-- PARALLAX -->

    <section class="text-center">
        <div class="cta-wrap subscribe-elt2 ">
            <div class="container">
                <div class="col-md-12">
                    <h1>Hurry up! Join the ChefsGrub waiting list and get 10% OFF your first order when we launch.<br>
                    </h1>
                    <p>Limited time offer for this month! Join our waiting list so we can make your food dreams come
                        true, you'll be on the first list to receive 10 percent off of your first order.</p>
                    <div class="container">
                        <div class="col-12">
                            {% if email %}
                                <p>{{ email }} has been {{ action }}.</p>
                            {% endif %}
                        </div>
                        {% if form %}
                            <div>
                                <form method="post" novalidate>
                                    {% csrf_token %}
                                    {{ form }}
                                    <br>
                                    <button type="submit" class="btn btn-success">Get 10% off</button>
                                </form>
                            </div>
                        {% endif %}


                    </div>
                </div>
            </div>
    </section>
    <div class="space80"></div>


    <!-- FOOTER -->
    <footer class="footer2" id="footer2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 footerP text-center">
                    <a href="/about">About Us</a>
                    <a href="/chef/become-chef/"> Join us as a Chef </a>

                    <a href="/faq">FAQ</a>
                </div>
                <div class="footer-social space30 text-center">
                    <a href="https://www.facebook.com/ChefsGrub-101055565915321/" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-youtube"></a>

                    <a href="#" class="fa fa-instagram"></a>
                </div>
            </div>
        </div>
    </footer>

    <!-- Copyright -->
    <div class="footer-copy">
        <div class="container">
            &copy; 2022. ChefsGrub. All rights reserved.
        </div>
    </div>


    <div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" data-toggle="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="cf2-wrap">

                        <h2>Make Your Order Now!</h2>

                        <div class="clearfix space40"></div>
                        <form class="positioned" name="sentMessage" id="contactForm" action="php/contact.php"
                              method="post">
                            <div class="row">

                                <div class="col-md-6 col-sm-6">
                                    <input name="senderName" id="senderName" placeholder="Your Name" required
                                           type="text">
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <input name="senderEmail" id="senderEmail" placeholder="Email Address" required
                                           type="email">
                                </div>
                            </div>

                            <input name="address" id="address" placeholder="Address" required type="text">

                            <input placeholder="Zip Code" required type="number">

                            <input placeholder="Mobile No." required type="number">


                            <select name="name" id="select" required="required">
                                <option value=""> Super Bowl - $10.50</option>
                                <option value="1"> Salad - $9.20</option>
                                <option value="2"> Couscous - $12.50</option>

                            </select>


                            <button type="submit" class="btn btn-primary btn-ico">Send Message<i
                                    class="fa fa-paper-plane-o"></i></button>
                        </form>
                        <div id="sendingMessage" class="statusMessage">
                            <p><i class="fa fa-spin fa-cog"></i> Sending your message. Please wait...</p>
                        </div>
                        <div id="successMessage" class="successmessage">
                            <p><span class="success-ico"></span> Thanks for sending your message! We'll get back to you
                                shortly.</p>
                        </div>
                        <div id="failureMessage" class="errormessage">
                            <p><span class="error-ico"></span> There was a problem sending your message. Please try
                                again.</p>
                        </div>
                        <div id="incompleteMessage" class="statusMessage">
                            <p><i class="fa fa-warning"></i> Please complete all the fields in the form before sending.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% tawkto_script user_name=request.user.get_full_name user_email=request.user.email %}
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/62484c252abe5b455fc38fd6/1fvl6isj2';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

<!-- JAVASCRIPT =============================-->
<script src=" {% static 'js/jquery.js' %} "></script>
<script src=" {% static 'js/bootstrap.min.js' %} "></script>
<script src=" {% static 'js/vendors/slick/slick.min.js' %} "></script>
<script src=" {% static 'js/vendors/jquery.easing.min.js' %} "></script>
<script src=" {% static 'js/vendors/stellar.js' %} "></script>
<script src=" {% static 'js/vendors/isotope/isotope.pkgd.js' %} "></script>
<script src=" {% static 'js/vendors/swipebox/js/jquery.swipebox.min.js' %} "></script>
<script src=" {% static 'js/main.js' %} "></script>
<script src=" {% static 'js/vendors/mc/jquery.ketchup.all.min.js' %} "></script>
<script src=" {% static 'js/vendors/mc/main.js' %} "></script>
</body>

</html>